*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.images{
    background-color:aquamarine;
    height:300px;
}

.images img{
    width: 100%;
    height: 100%;
}